extends include/layout.pug

block content
    div.container.mt-3
        h1.display-5= title

        if card_data["data"]["cards"]
            form(method='POST')
                label.form-label(for="user_ID") Users
                select.form-select#user_ID(name="user_ID")
                    each user in user_data["data"]["users"]
                        option(value= user["ID"]) #{user["first_name"]} #{user["last_name"]}
                br
                label.form-label(for="card_UID") Card UID
                select.form-select#card_UID(name="card_UID")
                    each card in card_data["data"]["cards"]
                        option(value= card["UID"])= card["UID"]
                br
                button.btn.btn-primary.btn-lg.px-4.gap-3.me-2.mb-2(type="submit") Grant Ownership
        else 
            p.lead No Cards available

block buttons
    if card_data["data"]["cards"] == []
        a.btn.btn-primary.btn-lg.px-4.gap-3.me-2.mb-2(href=url_for("create_card")) Register a new card
